#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.generalInfoContainer > input{
  text-align: center;
}

.educationSection {
  text-align: start;
}

.educationForm {
  display: grid;
  grid-template-columns: 1fr auto; /* 1fr takes up remaining space, auto takes only necessary space */
  gap: 10px;
  align-items: start; /* Aligns items vertically in the center */
}

.educationTextarea {
  width: 100%; /* Makes sure textarea takes the full width within its grid cell */
  min-height: 30px; /* Set a minimum height for the textarea */
  resize: vertical;
}

.educationDate {
  width: 185px; /* Increased fixed width to accommodate both states */
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

.educationDate input {
  width: 75px; /* Fixed width for inputs */
}

/* New style to ensure "Present" text takes the same space as an input */
.educationDate span.present-text {
  width: 60px;
  text-align: left;
  font-size: 18px;
}

/* Regular spans (like the hyphen) */
.educationDate span:not(.present-text) {
  font-size: 18px;
}
